*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 16px by default. It's need to calculate rem (ex. 1.6rem = 16px) */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
